*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #ffce47;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 260px;
}

.display {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #a79484;
    color: black;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7px;
    text-align: center;
}

.button {
    padding: 20px;
    font-size: 15px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.button:hover {
    background-color: #a79484;
}

button:active {
    background-color: #ccc;
}